.icon-weather-container {
  position: relative;
}

.weather-introduction {
  text-align: center;
  width: 70%;
  color: #ffffff;
  font-size: 5vw;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}

.world-weather {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 400px 400px;
  grid-template-rows: repeat(6, 1fr);
}

.lefts {
  justify-self: start;
}

@media screen and (max-width: 767px) {
  .world-weather {
    grid-template-columns: 1fr;

    grid-template-rows: repeat(12, 1fr);
  }
}
