.weather-container {
  max-width: 100%;
  overflow: hidden;
}

.icon-weather-container {
  position: relative; /* Dodaj relative dla .icon-weather-container */
}

.icon-weather {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.search-container {
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
