.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  gap: 20px;
  border-radius: 20px;
  margin: 10px auto;
  max-width: 500px;
}

.top {
  padding: 10px;
}

.bottom {
  padding: 10px;
}

.temperature {
  font-size: 48px;
  padding: 5px;
  margin-bottom: 15px;
}

.city {
  font-size: 24px;
}
